

#navbar {
    width: 100%;
    background: #F8C0BE;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

#jetitle{
    font-size: 20px;
    justify-self: center;
    align-self: center;
}

#navbuttons {
    margin-left: auto;
    background: #F8C0BE;
    display: flex;
    justify-self: right;
    align-items: center;
    gap: 20px;
}


#body {
    background: #F1E3E1;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.col {
    background-color: #fff;
    width: 100%;
    border-radius: 4px;
    padding: 5px;
    box-shadow: #00000059 0px 5px 15px;
}

.box {
    display: inline-block;
    padding: 0 5px;
}

.first {
    border-right: 2px solid #40576d33;
}

.input {
    outline: none;
    border: none;
    color: #131c35;
    font-size: 24px;
    padding: 10px 0px;
    margin-left: 10px;
}

.second {
    border-right: 2px solid #40576d33;
}

.button {
    border: none;
    color: #131c35;
    font-size: 20px;
    font-weight: 300;
    background-color: transparent;
    padding: 10px 16px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: #40576d1a;
}

.button.active {
    background-color: #73b1e333;
    color: #5271ff;
}

.third {
    border-right: 2px solid #40576d33;
}

.third button:focus {
    background-color: #73b1e333;
    color: #5271ff;
}

#textarea1 {
    width: 100%;
    height: 400px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    resize: vertical;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textareas {
    display: flex;
    width: 80%;
    gap: 10px;
    resize: vertical;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textareas :first-child {
    width: 150em;
  }

  #textarea2 {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    resize: vertical;
}

#textarea3 {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    resize: vertical;
}
  
  .reflectiontitle {
    font-size: large;
    color: #595959;
    font-weight: 550;
    margin: 5px;
    align-self: center;
}